<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include ('blocks/header') -%>
    <main>
        <h1>Main page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sapiente, aliquam reiciendis distinctio cupiditate aut, quo praesentium totam laborum architecto iusto, quibusdam nihil. Amet modi repellendus praesentium cupiditate doloribus! Cum.</p>
    </main>
</body>
</html>