<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/about">About us</a>
        <a href="/">Main page</a>
    </nav>
    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="User Name">
        <button type="submit" >Search</button>
    </form>
</header>