<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/about">About us</a>
        <a href="/">Main page</a>
    </nav>
    <form>
        <input type="text" placeholder="User Name">
        <button>Search</button>
    </form>
</header>