<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About node js</title>
    <style>
        body {
            color:azure;
            background-color: blueviolet;
            text-align: center;
            padding-top: 100px;
        }
        a {
            color: rgb(237, 142, 142);
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Page about us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nam quo autem consequuntur exercitationem voluptas, neque assumenda pariatur voluptate quaerat natus blanditiis accusantium, adipisci minus debitis excepturi saepe. Asperiores, ad.</p>
    <a href="/">Come back to => Main page</a>
</body>
</html>