<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            color:azure;
            background-color: blueviolet;
            text-align: center;
            padding-top: 100px;
        }
        a {
            color: rgb(237, 142, 142);
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>ERROR</h1>
    <p>WRONG ADRESS</p>
    <a href="/">Come back to => Main page</a>
    <a href="/about">Come back to => About</a>
</body>
</html>